/* ChiefLoginPage.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
}


.chief-login-container {
  background-color: #e0f7fa;
  height: 100%;
  width: 100%;
  padding: 10px;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.login-header {
  background-color: #00796b;
  color: white;
  padding: 12px 50px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.chief-title {
  font-size: 22px;
  font-weight: 700;
}

.chief-description {
  font-weight: 600;
  margin: 20px auto;
  width: 90%;
  max-width: 500px;
  animation: fadeSlideUp 1s ease forwards;
  animation-delay: 0.6s;
  color: black;
}

.chief-form-group {
  width: 100%;
  max-width: 400px;
  margin: 10px auto;
  position: relative;
}

.chief-input {
  width: 100%;
  padding: 15px 20px;
  border-radius: 25px;
  border: 2px solid transparent;
  outline: none;
  margin-bottom: 15px;
  font-size: 14px;
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  color: #333;
  animation: fadeSlideUp 1s ease forwards;
  animation-delay: 0.8s; /* Adjust as needed */
}


.chief-input:focus {
  box-shadow: 0 8px 16px rgba(0, 150, 136, 0.4);
}

.chief-input-error {
  border: 2px solid #d32f2f;
}

.chief-error-message {
  color: #d32f2f;
  font-size: 0.75rem;
  margin-top: 0.25rem;
  text-align: center;
}

.chief-submit-button {
  background-color: #004d40;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  animation: fadeSlideUp 1s ease forwards;
  animation-delay: 1.2s;
}

.chief-submit-button:hover {
  background-color: #00251a;
}

.chief-submit-button:disabled {
  background-color: #80cbc4;
  cursor: not-allowed;
}
.footer{
  background-color: #333;
  color: white;
  margin-top: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  animation: fadeSlideUp 1s ease forwards;
  animation-delay: 1.4s;
}
@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
